/* * * * * * * * * * * * * * * * * * * * * * * * * * * About Page * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Main Content */
main {
}

/* Navigation Bar & Footer */
nav, footer {
    background: transparent;
}

/* About Header */
#about-header {
}
#about-press-img {
    display: block;
    height: 500px;
}
#about-press-title {
    text-align: center;
    font-size: larger;
    color: white;
    mix-blend-mode: difference;
    transform: translate(35%, 25%);
}
#about-press-title a {
    color: inherit;
    text-decoration: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * Responsiveness * * * * * * * * * * * * * * * * * * * * * * * * * */

/* Mobile */
@media screen and (max-width: 767px) {
    nav {
        background: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
}
@media screen and (max-width: 410px) {

}

/* Desktop */
@media screen and (min-width: 768px) {

}